body {
    margin: 0;
}

#mapa { 
    min-height: 370px;
    width: 100%; 
}

#tooltip {
    min-height: 20px;
    width: 100%;
    background-color: #DCDCDC;
    padding: 7px;
    font-family: sans-serif;
    font-size: 85%;
}